body {
    margin: 0%;
    padding: 0%;
    background: url(new.jpg) no-repeat;
    background-size: cover;
    height: 30vh;
}
.container {
    margin-left: 500px;
    padding: 80px;
}

.header {
    /* margin-right: 80px; */
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    color: rgb(243, 92, 22);
}
#input-field{
    border: none;
    height: 35px;
    width: 250px;
    border-radius: 10px;
    background-color: azure;

}
.btn {
    color: antiquewhite;
    background-color: black;
    border-radius: 10px;
    padding: 8px;
    font-weight: 700;
    margin-left: 10px;
}
.btn:hover{
    color: black;
    background-color: azure;
    transition: .03s;

}

.btn1 {
    color: antiquewhite;
    background-color: black;
    border-radius: 10px;
    padding: 8px;
    font-weight: 700;
    margin-left: 10px;
    transition: 0.3s;
}

.btn1:hover{
    color: black;
    background-color: azure;

}